#HelloBabyApp .v-select .open-indicator {display:none}

#HelloBabyApp .v-select input {
    border: 0px;
}

#HelloBabyApp .v-select button.clear {
    display:none;
}

#HelloBabyApp .v-select .dropdown-toggle{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}