{% block history %}
<div class="list-group" v-for="(value, key, i) in mom.data" style="margin-top:20px">
    <div class="row">
              <a :href="'#collapse'+i" class="list-group-item list-group-item-action active col-2"
              data-toggle="collapse" :data-target="'#collapse'+i" aria-expanded="false" aria-controls="'collapse'+i">
                Get [[key]]
              </a>
              <div class="collapse" :id="'collapse'+i">
                  <div class="card card-body">
                    [[value]]
                  </div>
              </div>
        </div>
</div>

{% endblock %}