{% extends "layout.html" %}
{% block body %}
            <div class="card">
                <div class="card-body">
                <h2 class="card-title">Welcome to Hello Baby</h2>
                <div class="card-text">In this app, you get a chance to practice your NRP skills with a game!</div>
                <a class="btn btn-primary" href="/scenario" role="button" style="margin-top:20px">Click here to begin!</a>
                </div>
            </div>
        </div>

    </main>
{% endblock %}