{% extends "layout.html" %}
{% block body %}


<div class="card">
<div class="card-body">

                <nav>
          <div class="nav nav-tabs" id="nav-tab" role="tablist">

               {% for value,name in [("history","History"), ("prep-warmer","Prep Warmer"), ("communicate","Communicate")] %}

            <a class="nav-item nav-link {% if loop.first %} active {% endif %}" id="nav-{{value}}-tab" data-toggle="tab" href="#nav-{{value}}" role="tab" aria-controls="nav-{{value}}"
            aria-selected={% if loop.first %}"true" {% else %} "false" {% endif %}>{{name}}</a>

        {% endfor %}

         <a class="nav-item nav-link btn btn-primary btn-sm" id="nav-communicate-tab" href="./resuscitation" style="margin-left:90px">Baby out!</a>

          </div>

        </nav>


        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
              <div id="prepWarmerHistory">
                {% include "./history.html" %}
              </div>

           </div>

          <div class="tab-pane fade" id="nav-prep-warmer" role="tabpanel" aria-labelledby="nav-prep-warmer-tab">
              <div id="prepWarmerPrep" style="margin-top: 30px">
                  {% include "./warmer_settings.html" %}

            </div>
            </div>


          <div class="tab-pane fade" id="nav-communicate" role="tabpanel" aria-labelledby="nav-communicate-tab">

        <div id="prepWarmerCommunicate" style="margin-top: 30px">

             <div class="card" style="width: 18rem;" v-for="person in staff">
          <div class="card-body">
            <h5 class="card-title">[[person.name]] - [[person.title]]</h5>
            <p class="card-text">Role: [[person.role]]</p>
          </div>
        </div>

        </div>

        </div>
        </div>

</div>
</div>



{% endblock %}