{% extends "layout.html" %}
{% block body %}

    <div class="card">
    <div class="card-body">

        <nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">

    {% for value,name in [("resuscitation", "Resuscitation"),("history","History"), ("exam","Exam"), ("warmer", "Warmer"),("communicate","Communicate"), ("intervene", "Intervene")] %}
    <a class="nav-item nav-link {% if loop.first %} active {% endif %}" id="nav-{{value}}-tab" data-toggle="tab" href="#nav-{{value}}" role="tab" aria-controls="nav-{{value}}" aria-selected="true">{{name}}</a>
    {% endfor %}
    <div v-if="baby_timer_started">
    <a class="btn btn-warning" style="margin-left:90px;"> Time: <span id="time" v-html="time"></span> </a>
    </div>
    <div v-else>
        <button class="btn btn-primary" v-on:click="startBabyTimer" style="margin-left:90px;"> Start Timer </button>
    </div>
  </div>

</nav>

<div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade" id="nav-history" role="tabpanel" aria-labelledby="nav-history-tab">
              <div id="resuscHistory">
                {% include "./history.html" %}
            </div>
        </div>

         <div class="tab-pane fade" id="nav-exam" role="tabpanel" aria-labelledby="nav-exam-tab">
              <div class="card col-6" id="resuscExam">
                  <div class="card-body">
                  <div class="row">
                      [[baby.appearance]]
                    </div>
                  {% for examAction in ["Listen to heart", "Listen to lungs", "Examine Abdomen"] %}
                  <div class="row">
                  <button class="btn btn-primary" style="margin-top:20px">{{examAction}}</button>
                  </div>
                  {% endfor %}
                  </div>

                </div>
         </div>

          <div class="tab-pane fade" id="nav-warmer" role="tabpanel" aria-labelledby="nav-warmer-tab">
              <div id="resuscWarmer" style="margin-top: 30px">
                  {% include "./warmer_settings.html" %}

        </div>
        </div>

         <div class="tab-pane fade" id="nav-communicate" role="tabpanel" aria-labelledby="nav-communicate-tab">

            <div id="resuscCommunicate" style="margin-top: 30px">

                <div class="card" style="width: 18rem;" v-for="person in staff">
              <div class="card-body">
                <h5 class="card-title">[[person.name]]</h5>
                <p class="card-text">Role: [[person.role]]</p>
              </div>
            </div>

             </div>
        </div>

        <div class="tab-pane fade" id="nav-intervene" role="tabpanel" aria-labelledby="nav-intervene-tab">

              <div class="input-group mb-3" style="margin-top:30px">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Interventions:</span>
                      </div>
                      <v-select-intervene label="pp" v-model="supplyToFetch" @input="doTask('fetch', supplyToFetch.name)" :options="supplySearchOptions" placeholder="search..."></v-select-intervene>

                    </div>

        </div>

        <div class="tab-pane fade show active" id="nav-resuscitation" role="tabpanel" aria-labelledby="nav-resuscitation-tab">
             <div class="card col-6" id="resuscExam">
                  <div class="card-body">
                  <div class="row">
                      [[baby.appearance]]
                    </div>
                  </div>

                  CPR
                  Vitals
                  Oxygenation

                </div>
        </div>


        </div>

</div>
</div>


{% endblock %}