<div class="tab-pane fade" id="v-pills-{{values[1]}}" role="tabpanel" aria-labelledby="v-pills-{{values[1]}}-tab">
            <p>Mask sizes available: infant, preemie</p>

            {% for pressure,pname in [("warmer.mask.PIP","PIP"), ("warmer.mask.PEEP","PEEP"),("warmer.mask.POP","Pop-off Pressure")]%}
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">{{pname}}</span>
                      </div>
                      <input type="text" class="form-control" v-model="{{pressure}}" :aria-label="{{pressure}}" aria-describedby="basic-addon1" v-on:change="updateWarmer">
                    </div>
            {% endfor %}

       </div>