
        <div class="row">
        <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            {% for value,name in [("warmer","Warmer"), ("mask", "Bag Mask"), ("oxygen","Oxygen"), ("suction", "Suction"), ("supplies", "Supplies")] %}
          <a class="nav-link {% if loop.first %} active {% endif %} " id="v-pills-{{value}}-tab" data-toggle="pill" href="#v-pills-{{value}}" role="tab" aria-controls="v-pills-{{value}}" aria-selected="true">{{name}}</a>
        {% endfor %}
        </div>
        </div>


        <div class="col-9">
        <div class="tab-content" id="v-pills-tabContent">
        {% set values=["warmer", "mask", "oxygen", "suction", "supplies"] %}
          <div class="tab-pane fade show active" id="v-pills-{{values[0]}}" role="tabpanel" aria-labelledby="v-pills-{{values[0]}}-tab">
                <span v-if="warmer.turnedOn">
                    <h3> Heat is: <span class="badge badge-danger">on</span> </h3>
                    <button v-on:click="toggleHeat" class="btn btn-secondary btn-sm">Turn heat off</button>
                </span>
                <span v-else>
                    <h4> Heat is: <span class="badge badge-secondary">off</span> </h4>
                    <button v-on:click="toggleHeat" class="btn btn-danger">Turn heat on</button>
                </span>

          </div>

        <div class="tab-pane fade" id="v-pills-{{values[1]}}" role="tabpanel" aria-labelledby="v-pills-{{values[1]}}-tab">


              <div class="row">
              <h4 class="col-md-auto">
              Select mask:
              </h4>

                  <div v-for="mask in supplyMGR.supplies.mask" class="col-3">
                      <div v-if="mask.using">

                      <button type="button" class="btn btn-primary">[[mask.masktype]] Mask</button>

                      </div>
                      <div v-else>
                          <button type="button" class="btn btn-light" v-on:click="doTask('usemask', mask.masktype)">[[mask.masktype]] Mask</button>
                      </div>
                  </div>
              </div>

              <div class="mt-5">
             <div class="offset-md-1 col-md-4">
                 {% for pressure,pname in [("warmer.PIP", "PIP"), ("warmer.PEEP", "PEEP"), ("warmer.POP", "POP")] %}
               <div class="input-group mb-3 row">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">{{pname}}</span>
              </div>
              <input type="text" class="form-control" v-model="{{pressure}}" :aria-label="{{pressure}}" aria-describedby="basic-addon1" v-on:change="updateWarmer">
            </div>
            {% endfor %}
              </div>
             </div>
       </div>

        <div class="tab-pane fade" id="v-pills-{{values[2]}}" role="tabpanel" aria-labelledby="v-pills-{{values[2]}}-tab">
            {% for pressure,pname in [("warmer.flow","Flow"), ("warmer.FIO2","FIO2")]%}
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">{{pname}}</span>
                      </div>
                      <input type="text" class="form-control" v-model="{{pressure}}" :aria-label="{{pressure}}" aria-describedby="basic-addon1" v-on:change="updateWarmer">
                    </div>
            {% endfor %}
          </div>
        <div class="tab-pane fade" id="v-pills-{{values[3]}}" role="tabpanel" aria-labelledby="v-pills-{{values[3]}}-tab">
            <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">suction</span>
                      </div>
                      <input type="text" class="form-control" v-model="warmer.suction" :aria-label="warmer.suction" aria-describedby="basic-addon1" v-on:change="updateWarmer">
          </div>
         </div>
        <div class="tab-pane fade" id="v-pills-{{values[4]}}" role="tabpanel" aria-labelledby="v-pills-{{values[4]}}-tab">

                      <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon3">Fetch Supplies:</span>
                      </div>
                      <v-select label="pp" v-model="supplyToFetch" @input="doTask('fetch', supplyToFetch.name)" :options="supplySearchOptions" placeholder="search..."></v-select>

                    </div>
                <ul class="col3" v-for="supply in supplyMGR.supplyList">
                    <li v-if="supply.available">[[supply.pp]]</li>
                </ul>
          </div>


        </div>
        </div>

        </div>